<div>You are on the homepage</div>

<ul class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
      </div>
      <div class="meta">

        <img src= "{{post_url}}" height="200px", length="200px"/>
      </div>
    </article>
  </li>
  {{/each}}
</ul>